.placeholder {
    height: 30px;
}
 
.panel {
    background-color: #F0F0F0;
    width: 300px;
    height: 300px;
    border: solid 1px;
    float: left;
    margin: 5px;
        
}

.draggable {
    margin: 2px;
    border: 1px solid grey;
    min-height: 24px;
    cursor: move;
}

drop_zone {
    height: 24px;
    background-color: #E5E5E5;
    border: 2px dotted #E4E4E7;
    margin: 5px;
}

.ui_ul {
    list-style: none;
    padding: 0;
    margin: 10px;
}

.item {
    padding: 2px 10px;
    margin: 2px;
    background-color: #ABB0B6;
}

.droppable {
    background-color: #CCD5DF;
}
